{
  "sources": [
    // Your HDL files (only these will be scanned)
    "sources_1/new/*.v"
  ],

  // You can add more files or globs here in the future:
  // "sources_1/new/*.v",
  // "sources_1/new/**/*.sv"

  "vhdl": {
    "flags": {
      "single": [],
      "dependencies": [],
      "global": []
    }
  },

  "verilog": {
    "flags": {
      "single": [],
      "dependencies": [],
      "global": []
    }
  },

  "systemverilog": {
    "flags": {
      "single": [],
      "dependencies": [],
      "global": []
    }
  }
}

